html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
  display: inline-block;
  width: 100%;
}

ul {
  list-style-type: none;
  display: inline-block;
}

h1 {
  font-family: 'Bevan', cursive;
  margin: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 4px;
}

nav {
  margin: inherit;
}

li a {
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
}

li:hover {
  background-color: #f33;
  color: #fff;
}

body {
  display: block;
  min-width: 100%;
  background-color: #79756f;
  border: 3px solid #595652;
  text-align: center;
  color: #fff;
  margin: inherit;
}
