html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  min-width: 100%;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

h1 {
  font-family: Bevan, cursive;
  margin-bottom: 0em;
  margin-top: .3em;
}

ul {
  margin-top: 0em;
  margin-bottom: .3em;
}

li {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 4px;
  font-family: sans-serif;
  margin: .3em;
}

li a {
  color: #fff;
  text-decoration: none;
}

li:hover {
  background-color: #f33;
  color: #fff;
  border-color: #f33;
}

body {
  display: block;
  width: 100%;
  background-color: #79756f;
  border: 3px solid #595652;
  text-align: center;
  color: #fff;
  margin: 0em;
}
